@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&family=Quicksand:wght@300;500;700&display=swap');
:root{/* Creamos variables de la paleta de colores eetc */
    --font: ;
    --Very-light-pink:#C7C7C7;
    --Text-input-field:#F7F7F7;  
    --Hospital-green:#ACD9B2;
    --White:#FFFFFF;
    --Black:#000000;
    --Dark:#232830;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

.login{
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-container{
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
    height: 500px;
    width: 300px;
    
}
.form_email{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.logo{
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-self: center;
    display: none;
}
.label{
    font-weight: bold;
}
.input{
    background-color:  var(--Text-input-field);
    border-radius: 8px;
    border: none;
    height: 30px;
    padding: 6px;
}
.login_button{
    background-color:var(--Hospital-green) ;
    border-radius: 8px;
    border: none;
    height: 45px;
    color:white;
    margin-top: 30px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.direcction{
    text-align: center;
}
.direcction a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: var(--sm);
    color: #ACD9B2;
}
.sign_button{
    border: solid 1px #ACD9B2;
    border-radius: 8px;
    height: 45px;
    color:#ACD9B2;
    
    margin-top: 130px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    background-color: transparent;
}
@media (max-width:640px ){
    .logo{
        display: block;
    }
}

